<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
<div class="container">
    {{#if flash}}
      <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="close"
                data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}

    {{{body}}}

  <hr>
  <footer>
    <p>&copy; Meadowlark Travel 2014</p>
  </footer>
</div>
</body>
</html>
