# Folders to ignore
.hg
.svn
.CVS
.idea
.sass-cache
.tmp
**/*.log
**/.DS_Store
**/node_modules/
**/tmp/
**/log/
**/data/
**/uploads/
**/build/
**/reports/
**/results/
**/temp/
**/dist/
**/bower_components/
