<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
    HEADER
</header>

<h2>Welcome to templating using <%= templateType %></h2>

<footer>
    FOOTER
</footer>

</body>
</html>
