<!doctype html>
<html>
<head>
  <title>templating - handlebars</title>
  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
<header>
  HEADER
</header>
{{{body}}}
</body>
</html>
