html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 #{title}
    p Enter your name and email address to become a member.
    form(action='/signup', method='post')
      div
        label Name
        input(type='text', name='name', value='Tom')
      div
        label Email
        input(type='text', name='email', value='tom@gmail.com')
      div
        input(type='submit')
